body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  z-index: 0;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

img {
  height: 45vh;
  width: 100%;
  object-fit: contain;
}

#default{
  text-align: center;
}
#default a{
  color:black;
  margin-left: 10px;
}


.nav {
  background-color: rgb(0, 80, 146);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
  z-index: 1;
}

.nav-item {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vw;
  padding-left: 1vw;
  transition: 0.5s;
}

.nav-content {
  font-size: 16px;
  display: flex;
  justify-content: left;
  width: 33%;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: center;
  width: 34%;
}

#logo {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 5vh;
  font-weight: bold;
  transition: 0.5s;
}

.nav-user {
  font-size: 16px;
  display: flex;
  justify-content: right;
  width: 33%;
  align-items: center;
}

.content-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  margin-bottom: 25vh;
}

.content {
  width: 50%;
}

#individualAlert {
  color: red;
}

.landingpageContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.landingpageContent {
  flex: 1 0 40%;
  margin: 5vh;
  font-size: 20px;
}