<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/singup.css' />
    <script src='/javascripts/nav-bar.js'></script>
  </head>
  <body>
    <div class='nav'>
      <div class='nav-content'>
          <% if (flag) { %>
            <div class='nav-item'><a href="/article?index=1"  >Overall Analytics</a></div>
            <div class='nav-item'><a href="/article?index=2"  >Article Analytics</a></div>
            <div class='nav-item'><a href="/article?index=3"  >Author Analytics</a></div>
          <% } %>
      </div>
      <div class='nav-logo'>
        <div class='nav-item' id='logo'><a href='/'>WikiLyse</a></div>
      </div>
      <div class='nav-user'>
          <% if (flag) { %>
            <div class='nav-item'>Hello <%=name%></a></div>
            <div class='nav-item'><a href='/logout'>Log out</a></div>
            <% } else { %>
            <div class='nav-item'><a href='/login'>Login</a></div>
            <div class='nav-item'><a href='/signup'>Signup</a></div>
          <% } %>
      </div>
    </div>
    <div class='content-wrapper'>
      <div class='content'>
        <h1>Sign up</h1>
        <form action="/signup", method="POST">
          <p>
              <label for='First name'>First name</label>
              <input type="text" id ='firstname' name ="firstname" placeholder="First name" >
          </p>
          <p>
              <label for='Second name'>Second name</label>
              <input type="text" id ='secondname' name ="secondname" placeholder="Second name" >
          </p>
          <p>
              <label for='email'>Email address</label>
              <input type="email" id ='email' name ="email" placeholder="Email Address" >
          </p>
          <p>
              <label for='password'>Password</label>
              <input type="password" id ='password' name ="password" placeholder="Password" >
          </p>
          <p>
              <input type="submit" value="Sign up">
          </p>
        </form>
      </div>
    </div>
  </body>
</html>